/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

$headingFont: "Monaco", monospace;
$mainFont: "Monaco", monospace;
$codeFont: "Monaco", monospace;

/*-- scss:rules --*/
