/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

$headingFont: 'Monaco', mono;
$mainFont: 'Monaco', mono;
$codeFont: 'Monaco', mono;

/*-- scss:rules --*/
